<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🤠</text></svg>">
  </head>
  <body class="bg-peg-grey">
    <header class="bg-white pt-4 py-3">
        <div class="px-4 sm:flex sm:justify-between max-w-screen-lg mx-auto">
            <h1 class="pl-2 text-lg tracking-wide font-semibold"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

            {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
            <ul class="flex gap-x-3 tracking-wide">
            {%- for entry in collections.all | eleventyNavigation %}
              <li class="ml-2 {% if entry.url == page.url %}{% endif %}">
                  <a class="underline" href="{{ entry.url | url }}">{{ entry.title }}</a>
              </li>
            {%- endfor %}
            </ul>
        </div>  
    </header>

    <main{% if templateClass %} class="px-6 pt-6 max-w-screen-lg mx-auto {{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer class="mt-10 bg-red-600 "></footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
